.modeModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  width: 450px;
  height: 350px;
  text-align: center;
  transform: perspective(1000px);
  backdrop-filter: blur(5px);
  background-color: rgba(225, 225, 225, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(225, 225, 225, 0.3);
  transition: height 0.3s ease;
}

.modal-content h2 {
  font-size: 2rem;
  padding-top: 10px;
  color: #fff;
}

.modal-content .mode-button {
  margin: 10px auto;
  background-color: #753682;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.modal-content .mode-button:hover {
  background-color: #bf2e34;
}

.game-mode--grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.game-mode--grid3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  width: 150px;
  height: 150px;
  transition: padding 0.5s ease;
}

.game-mode--grid3x3 div {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-mode--grid3x3 div:hover {
  background: #ff3080;
}

.game-mode--grid3x3:hover {
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(182, 15, 253, 1) 0%,
    rgba(150, 24, 255, 1) 65%,
    rgba(104, 39, 252, 1) 100%
  );
}

.game-mode--grid5x5 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  width: 150px;
  height: 150px;
  padding: 20px;
}

.game-mode--grid5x5 div {
  background: #6d6d6d;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.game-mode--grid5x5::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    transparent 50%,
    #6926ff 50%,
    transparent 51.5%
  );
  pointer-events: none; /* This ensures that the line doesn't interfere with clicking */
}

.game-mode--description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14.5rem;
  margin-top: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.dropdown {
  width: 50%;
  padding: 1px;
  border: none;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-size: 15px;
  cursor: pointer;
  transition: fadeIn 0.3s ease;
}

.dropdownFadeIn .game-mode--play,
.game-mode--difficulty {
  margin-top: 3rem;
}

.game-mode--play > label,
.game-mode--difficulty > label {
  display: block;
  font-size: 1.5rem;
  padding-top: 10px;
  color: #fff;
}

.game-mode--play select,
.game-mode--difficulty select {
  margin-top: 1rem;
  text-align: center;
  text-align-last: center;
}

.gameMode-btn {
  padding: 1rem 3rem;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
  backdrop-filter: blur(20px);
  background-color: rgba(225, 225, 225, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(225, 225, 225, 0.3);
}

.gameMode-btn:hover {
  backdrop-filter: blur(0px);
  background-color: rgba(225, 225, 225, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(225, 225, 225, 0.3);
}
