@media only screen and (max-width: 768px) {
  body {
    height: auto;
  }

  label[for='name'] {
    text-align: center;
    /* margin-left: 20%; */
    display: block;
    width: 100%;
  }

  .players {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .player-input-names,
  .players {
    flex-direction: row;
  }

  .player1,
  .player2 {
    padding: 1rem;
  }

  .player1 img,
  .player2 img {
    width: 70px;
    height: 70px;
  }

  .player-input-names {
    font-size: 2rem;
  }

  .player-input-names input {
    padding: 0.8rem;
    width: 80%;
    font-size: 1.4rem;
  }

  .active--player {
    padding: 1rem;
    font-size: 1.5rem;
  }
}
