@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #333;
  height: 89.6vh;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

/* LAYOUT */

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* border: 2px solid blue; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  width: 300px;
  height: 300px;
  padding: 2px;
}

.grid div {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.grid div[data-marker='X'] {
  color: #ff0000;
}

.grid div[data-marker='O'] {
  color: #0000ff;
}

div img {
  width: 45px;
  height: 45px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  margin: 0 auto;
}

.modalP {
  font-size: 4rem;
  font-weight: 700;
  color: black;
  text-align: center;
  z-index: 10;
}

.restart-button {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  padding: 1em 2em;
  border: none;
  /* border-radius: 10% 25%; */
  color: #fff;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 2rem;
  transform: skew(0deg, -3deg);
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.4),
    -2px -2px 4px 2px rgba(255, 255, 255, 0.4);
}

.reset-score--button {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  padding: 1em 2em;
  border: none;
  /* border-radius: 10% 25%; */
  color: #fff;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.4),
    -2px -2px 4px 2px rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.players {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10rem;
  height: 13rem;
  /* border: 2px solid blue; */
}

.player1,
.player2 {
  padding: 1rem 10rem;
}

.players h1,
.players p {
  text-align: center;
}

.players h1 {
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
}

.players p {
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.players img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4),
    -2px -2px 4px 2px rgba(225, 225, 225, 0.4);
}

/* .active--player {
  padding: 1rem 10rem;
  outline: 4px solid #79367e;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3),
    inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #753682;
  border-radius: 8px; Optional: Adds rounded corners
} */

.active--player {
  padding: 1rem 10rem;
  outline: 4px solid #79367e;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5),
    inset 0 0 5px 5px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  border-radius: 20%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.active--player:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.6),
    inset 0 0 10px 10px rgba(0, 0, 0, 0.4);
}

.player-input-names {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.player-input-names input {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 60%;
  /* background-color: #333; */
  background-color: #fff;
  color: rgba(0, 0, 0, 10);
  font-size: 1.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.player-input-names input:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}

.hidden {
  display: none;
}
