@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #333;
  height: 89.6vh;
  /* background: linear-gradient(to top left, #753682, #bf2e34); */
  background-image: url('./resources/background_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  width: 300px;
  height: 300px;
  padding: 2px;
}

.gameGrid div {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

div img {
  width: 45px;
  height: 45px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  margin: 0 auto;
}

.modalP {
  font-size: 4rem;
  font-weight: 700;
  color: black;
  text-align: center;
  z-index: 10;
}

.restart-button {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  padding: 1em 2em;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 2rem;
  transform: skew(0deg, -3deg);
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.4),
    -2px -2px 4px 2px rgba(255, 255, 255, 0.4);
}

.reset-score--button {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  padding: 1em 2em;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.4),
    -2px -2px 4px 2px rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

.gameGrid div:hover {
  transform: scale(1.05);
}

.glassmorphism {
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(225, 225, 225, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(225, 225, 225, 0.3);
  transition: backdrop-filter 0.5s ease;
}

